<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- khai bao bien html -->
    <% var html = "<h2 style='color: red'>hello</h2>" %>
    <%- html %>
  </body>
</html>
